{% extends "base-employee.html" %}

{% block title %}Товары{% endblock %}
{% block head %}
	<script type="module" src="{{ url_for('static', filename='js/pages/employee/create_product.js') }}" defer></script>
{% endblock %}

{% block content %}
	<h1>Создать товар</h1>
	<div class="hcont">
		<p>Название:</p>
		<input id="name" type="text" placeholder="Кресло офисное кожаное чёрное" style="min-width: 85%; text-align: start;" required/>
	</div>
	<div class="hcont">
		<p>Описание:</p>
		<textarea id="description" style="min-width: 85%; min-height: 140px; text-align: start;">Самое удобное офисное кресло!</textarea>
	</div>
	<div class="hcont">
		<p>Цена:</p>
		<input id="price" type="number" style="min-width: 85%; text-align: start;" required/>
	</div>
	<hr/>

	<!-- TODO: multiple images -->
	<div class="hcont">
		<p>Изображение:</p>
		<input id="add_image" type="file" style="min-width: 85%;" />
	</div>

	<hr/>
	<button id="create" class="green-bg">Создать товар</button>
{% endblock %}
