{% extends "base-employee.html" %}

{% block title %}Заказ{% endblock %}
{% block head %}
	<script type="module" src="{{ url_for('static', filename='js/pages/employee/order.js') }}" defer></script>
{% endblock %}

{% block content %}
	<h1 id="order_name">Заказ ?</h1>
	<p style="display: none;">ID: {{ order_id }}</p>
	<p id="created_at">Создан: ?</p>
	<p id="fully_paid">Оплачен: ?</p>
	<p id="address">Адрес доставки: ?</p>
	<p id="amount">Общая стоимость: ?</p>
	<div class="hcont">
		<label for="sel_status">Статус:</label>
		<select id="sel_status" name="sel_status" style="min-width: 60%;">
			<button>
				<selectedcontent></selectedcontent>
			</button>

			<option value="CREATED">Создан</option>
			<option value="CONFIRMED">Подтверждён</option>
			<option value="IN_TRANSIT">В пути</option>
			<option value="DELIVERED">Завершён</option>
			<option value="CANCELLED">Отменён</option>
		</select>
	</div>
	<button id="set_status">Изменить статус</button>
	<span id="actions" class="vcont"></span>

	<h2>Содержимое заказа:</h2>
	<hr/>

	<div id="tgt">
		<p>Пусто...</p>
	</div>
	<hr/>
{% endblock %}
