{% extends "base-employee.html" %}

{% block title %}Роль{% endblock %}
{% block head %}
	<script type="module" src="{{ url_for('static', filename='js/pages/employee/role.js') }}" defer></script>
{% endblock %}

{% block content %}
	<h1>Роль</h1>
	<p id="code">Код: </p>
	<p id="system">Системное: </p>
	<p id="created_at">Создано: </p>
	<p id="status">Состояние: </p>
	<button id="action"></button>
	<br/>
	<hr/>
	<h2>Разрешения:</h2>
	<hr/>
	<div class="hcont">
		<p>Поиск:</p>
		<input id="search" type="text" placeholder="Введите код или описание..." style="min-width: 80%;"/>
		<button id="search_btn">Найти</button>
	</div>
	<hr/>
	<div id="tgt">
		<p>Пусто...</p>
	</div>
	
	<hr/>
	<div class="hcont">
		<button id="prev_pg">&lt;</button>
		<p id="page_number" style="min-width: 80%;">Страница: 1</p>
		<button id="next_pg">&gt;</button>
	</div>
	<button id="set_permissions" class="green-bg">Изменить разрешения</button>
{% endblock %}
