{% extends "base-employee.html" %}

{% block title %}Склад{% endblock %}
{% block head %}
	<script type="module" src="{{ url_for('static', filename='js/pages/employee/warehouse.js') }}" defer></script>
{% endblock %}

{% block content %}
	<h1>Склад</h1>
	<div class="hcont">
		<p id="address" style="font-weight: bold;">Адрес: </p>
	</div>
	<div class="hcont">
		<p id="phone">Описание: </p>
		<textarea id="description" style="min-width: 85%; text-align: start;" rows="4">Самый лучший склад!</textarea>
	</div>
	<button id="set_description" class="green-bg">Изменить описание</button>
	<a id="supplies" class="btn">Поставки</a>
	<a id="write_offs" class="btn">Списания</a>

	<br/>
	<h2 style="font-weight: bold;">Товары:</h2>
	<hr/>

	<div id="tgt" class="products-grid">
		<p>Пусто...</p>
	</div>

	<hr/>
	<div class="hcont">
		<button id="prev_pg">&lt;</button>
		<p id="page_number" style="min-width: 80%;">Страница: 1</p>
		<button id="next_pg">&gt;</button>
	</div>
{% endblock %}
