{% extends "base-employee.html" %}

{% block title %}Списание{% endblock %}
{% block head %}
	<script type="module" src="{{ url_for('static', filename='js/pages/employee/write_off.js') }}" defer></script>
{% endblock %}

{% block content %}
	<h1>Списание</h1>
	<p id="warehouse_address" style="font-weight: bold;">Адрес склада: </p>
	<p id="reason" style="font-weight: bold;">Причина: </p>
	<p id="comment">Комментарий: </p>
	<p id="created_at">Создано: </p>
	<br/>
	<h2>Товары:</h2>
	<hr/>

	<div id="tgt">
		<p>Пусто...</p>
	</div>

	<hr/>
	<div class="hcont">
		<button id="prev_pg">&lt;</button>
		<p id="page_number" style="min-width: 80%;">Страница: 1</p>
		<button id="next_pg">&gt;</button>
	</div>
{% endblock %}
