<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>МАТМАНЁВР - {% block title %}{% endblock %}</title>
	{% block head %}
	{% endblock %}
</head>
<body>
	<div class="topbar">
		<div class="lcont">
			<a href="/">
				<h2>МАТМАНЁВР</h2>
			</a>
		</div>
		<div class="rcont">
			<a class="btn" href="/client/cart">
				<img src="{{ url_for('static', filename='img/cart.svg') }}" alt="Корзина">
			</a>
			<a class="btn" href="/client/profile">
				<img src="{{ url_for('static', filename='img/profile.svg') }}" alt="Профиль">
			</a>
			<!-- <img src="{{ url_for('static', filename='img/checked-star.png') }}"> -->
		</div>
	</div>
	<div class="content">{% block content %}{% endblock %}</div>
</body>
